body{
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
}

.header{
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile-image{
    width: 48px;
    height: 48px;
    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.logo{
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

button{
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    color: white;
    padding: 8px 24px;
}

a{
    text-decoration: none; /* this removes the line under the links */
    color: rebeccapurple;
}

ul{
    list-style-type: none; /*removes bullet-points*/
}

/*solution*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left, .right{
    display: flex;
    align-items: center;
    gap: 16px;
}