.container{
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
   /* justify-content: space-between;*/
   /* justify-content: center; */ /*justify-content: aligns item across main axis*/
    align-items:center;  /* aligns items along the cross-axis*/
    /*flex-direction: column;*/
}

.item{
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
}
