/*top div
  flex-grow */

.flex-container{
    display: flex;
}
 
/* this selector selects all divs inside
of .flex-container */

.flex-container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 0%;
}

/* only div.two is selecter here*/

.flex-container .two{
    flex: 2 1 0%;
}





/* bottom div
   flex-shrink 
   default shrink factor is 
   flex-shrink: 1; */

.flex-container2 {
    display: flex;
    
}
 
/* this selector selects all divs inside
of .flex-container2 */

.flex-container2 div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 100px;
    flex: 1 1 auto;
}

/* only div.two is selecter here*/

.flex-container2 .two{
    flex-shrink: 0;
}