.container{
    background-color: antiquewhite;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid slateblue;


}

.container .item{
    height: 100px;
    width: 100px;
    background-color: rebeccapurple;
    border: 2px solid red;


}