.container{
    display: flex;
    border: 4px solid black;
    padding: 20px;
    margin-bottom: 10px;
    background-color: wheat;
}
.container > div{

    flex-basis: 200px;
    height: 200px;
    border: 4px solid black;
    margin: 10px;
    background-color: antiquewhite;
}

.container > div:nth-child(1){
    flex-grow: 5;
}

.container > div:nth-child(2){
    flex-shrink: 5;
}

.container > div:nth-child(3){
    flex-grow: 5;
}

/*first div*/

.container1{
    display: flex;
    border: 4px solid black;
    padding: 20px;
    background-color: wheat;
}
.container1 > div{

    flex-basis: 100px;
    height: 200px;
    border: 4px solid black;
    margin: 10px;
    background-color: antiquewhite;
}

.container1 > div:nth-child(1){
    flex-shrink: 5;
}

.container1 > div:nth-child(2){
    flex-grow: 5;
}

.container1 > div:nth-child(3){
    flex-shrink: 5;
}
