.flex-container{
   /* display: flex; */
}

/*this selector selects all div inside of .flex-container */

.flex-container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    /*flex: 1;*/
}