.header{
    font-family: monospace;
    background: papayawhip;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
}

a{
    font-size: 22px;
    background: white;
    padding: 8px; 
    text-decoration: none; /* this removes the line under the links */

}

ul{
    /*this removes the dots on the list items*/
    /* list-style: none; */ /* Removes bullets AND resets other list properties */
    list-style-type: none; /* Removes bullets but keeps other list properties */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}